* {
	font-family: Verdana, Arial;
	font-size: 11pt;
}

body {
	padding: 5px;
	margin: 0px;
}

.plus button, .minus button {
	min-width: 50px;
}

.myCountainer{
	max-width: 1400px; 
	margin: 0px auto;
}

.playerNum{
	width:10%;
}

.playerName{
	width: 32%;
}

.plaerSubs{
	width: 10%;
}

.plusCount {
	width:12%;
	color: #51A351;
}

.minusCount {
	width:12%;
	color: #BD362F;
}

.plus , .minus{
	width:12%;
}

.home , .away {
	width: 45%;
}

.spacer {
	width: 10%;
}

.ball {
	background: url('../img/ball.png');
	width: 14px;
	height: 14px;
	display: inline-block;
}

.cardYellow {
	background: url('../img/yellow.png');
	width: 14px;
	height: 14px;
	display: inline-block;
}

.cardRed {
	background: url('../img/red.png');
	width: 14px;
	height: 14px;
	display: inline-block;
}