* {
	font-family: Verdana, Arial;
	font-size: 11pt;
}

body {
	padding: 5px;
	margin: 0px;
}

.plus button, .minus button {
	min-width: 50px;
}

.myCountainer{
	max-width: 1200px; 
	margin: 0px auto;
}

.playerNum{
	width:10%;
}

.playerName{
	width: 35%;
}

.plusCount {
	width:9%;
	color: #51A351;
}

.minusCount {
	width:9%;
	color: #BD362F;
}

.plus , .minus, .yellow, .red, .goal, .sub{
	width:9%;
}